<!DOCTYPE html>
<html>
<head>
 <title>Pumpkin Pi 3</title> <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<img src="{{url_for('static', filename='logo.png')}}" class="center"/>
<body>

  <h2 align="center">Enter WiFi details</h2>
  <form align="center" action="/connect">
    <label align="center" for="ssid">SSID</label><br>
    <input type="text" id="ssid" name="ssid"><br>
    <label for="password">Password</label><br>
    <input type="text" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
  </form> 
</body>
</html>
